create database [nonbaohiemvietti]
go
USE [nonbaohiemvietti]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrole] [int] NULL DEFAULT ((1)),
	[username] [varchar](50) NULL,
	[password] [varchar](100) NOT NULL,
	[image] [nvarchar](500) NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](11) NULL,
	[address] [nvarchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[issocial] [int] NULL CONSTRAINT [DF_accounts_issocial]  DEFAULT ((0)),
	[alias] [varchar](100) NULL,
	[create_date] [datetime] NULL,
	[coin] [int] NULL,
	[date_attendance] [date] NULL,
	[spin] [int] NULL DEFAULT ((5)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[brand]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[image] [varchar](500) NULL,
	[link] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contact]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [nvarchar](500) NULL,
	[address] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](11) NULL,
	[worktime] [varchar](100) NULL,
	[map] [varchar](500) NULL,
	[display] [bit] NULL DEFAULT ((1)),
	[workday] [nvarchar](100) NULL,
	[alias] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](11) NULL,
	[subject] [nvarchar](100) NULL,
	[message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[groupproduct]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[groupproduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[history_recharge]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_recharge](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[amount_money] [int] NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[history_withdraw]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[history_withdraw](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[amount_money] [int] NULL,
	[create_date] [datetime] NULL,
	[status] [int] NULL DEFAULT ((0)),
	[confirm_date] [datetime] NULL,
	[bank_number] [varchar](20) NULL,
	[bank_name] [nvarchar](100) NULL,
	[fullname] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[introduce]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[introduce](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [ntext] NULL,
	[image] [varchar](100) NULL,
	[status] [bit] NULL,
	[alias] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_newstype] [int] NULL,
	[title] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[content] [ntext] NULL,
	[createdate] [date] NULL DEFAULT (getdate()),
	[image] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[newstype]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[newstype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[alias] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[createdate] [datetime] NULL,
	[email] [varchar](50) NULL,
	[fullname] [nvarchar](100) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](11) NULL,
	[status] [bit] NULL,
	[statuspay] [bit] NULL,
	[total] [decimal](18, 0) NULL,
	[note] [nvarchar](500) NULL,
	[paymentmethod] [int] NULL,
	[idpromotion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderdetail]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetail](
	[idproduct] [int] NOT NULL,
	[idorder] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[subtotal] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC,
	[idorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[production]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[price] [decimal](18, 0) NULL,
	[promationprice] [decimal](18, 0) NULL DEFAULT ((0)),
	[quantity] [int] NULL DEFAULT ((50)),
	[description] [ntext] NULL,
	[viewcount] [int] NULL DEFAULT ((0)),
	[createddate] [datetime] NULL DEFAULT (getdate()),
	[image] [ntext] NULL,
	[fastsell] [bit] NULL DEFAULT ((1)),
	[newproduct] [bit] NULL DEFAULT ((1)),
	[idcategory] [int] NULL,
	[idproduction] [int] NULL,
	[idgroupproduct] [int] NULL,
	[isdelete] [bit] NULL,
	[moreimage] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[create_date] [datetime] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[create_by] [int] NULL,
	[discount] [int] NULL,
	[quantity_use] [int] NULL,
	[alias] [varchar](100) NULL,
	[code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rate]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_account] [int] NULL,
	[id_product] [int] NULL,
	[star] [int] NULL,
	[comment] [nvarchar](500) NULL,
	[createdate] [date] NULL CONSTRAINT [df_createdate]  DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receipt]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[createdate] [date] NULL DEFAULT (getdate()),
	[total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receiptdetail]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receiptdetail](
	[idproduct] [int] NOT NULL,
	[idreceipt] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_receiptdetail] PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC,
	[idreceipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subscribe]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subscribe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[wheel]    Script Date: 17/08/2022 11:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wheel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[idpromotion] [int] NULL,
	[create_date] [datetime] NULL,
	[gift_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [idrole], [username], [password], [image], [fullname], [email], [phone], [address], [status], [issocial], [alias], [create_date], [coin], [date_attendance], [spin]) VALUES (6, 2, N'admin', N'827ccb0eea8a706c4c34a16891f84e7b', N'assets/images/users/logo.png', N'admin', N'admin@gmail.com', N'0376880903', N'Tiền Giang', 1, 0, N'tai-khoan-2', CAST(N'2022-06-06 00:00:00.000' AS DateTime), 10000, CAST(N'2022-07-02' AS Date), 0)
INSERT [dbo].[accounts] ([id], [idrole], [username], [password], [image], [fullname], [email], [phone], [address], [status], [issocial], [alias], [create_date], [coin], [date_attendance], [spin]) VALUES (50, 1, N'dongduy0612@gmail.com', N'', N'https://lh3.googleusercontent.com/a-/AOh14GiUQWvTZexHUiFQhYQzr4d8zaGNki-mKlQm-UA3lg=s96-c', N'Dương Đông Duy', N'dongduy0612@gmail.com', N'0376880903', N'Tiền Giang', 1, 1, N'tai-khoan-7', CAST(N'2022-06-28 12:26:23.730' AS DateTime), 11500, CAST(N'2022-07-02' AS Date), 0)
INSERT [dbo].[accounts] ([id], [idrole], [username], [password], [image], [fullname], [email], [phone], [address], [status], [issocial], [alias], [create_date], [coin], [date_attendance], [spin]) VALUES (51, 1, N'dongduy0612@gmail.com', N'', N'https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=710729423636462&height=50&width=50&ext=1658986038&hash=AeTQ8_6uFhJ6xFR66nM', N'Dương Đông Duy', N'dongduy0612@gmail.com', NULL, NULL, 1, 2, N'tai-khoan-51', CAST(N'2022-06-28 12:27:13.447' AS DateTime), 10000, CAST(N'2022-06-28' AS Date), 0)
SET IDENTITY_INSERT [dbo].[accounts] OFF
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [name], [alias], [image], [link]) VALUES (6, N'Tin thị trường', N'tin-thi-truong', N'assets/images/brand/brand5.jpg', N'https://google.com')
INSERT [dbo].[brand] ([id], [name], [alias], [image], [link]) VALUES (7, N'fas', N'fas', NULL, N'https://f8.edu.vn')
SET IDENTITY_INSERT [dbo].[brand] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'Nón cho nam', N'non-cho-nam', 1, 0)
INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Nón cho nữ', N'non-cho-nu', 1, 0)
INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Nón người lớn và trẻ nhỏ', N'non-nguoi-lon-va-tre-nho', 1, 0)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[contact] ON 

SET IDENTITY_INSERT [dbo].[contact] OFF
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [name], [email], [phone], [subject], [message]) VALUES (1, N'admin', N'admin@gmail.com', N'0376880903', N'đây là subjecfasfas', N'<p>fasdfsad</p>
')
INSERT [dbo].[feedback] ([id], [name], [email], [phone], [subject], [message]) VALUES (2, N'admin', N'admin@gmail.com', N'0376880903', N'fasdf', N'<p>fdsa</p>
')
INSERT [dbo].[feedback] ([id], [name], [email], [phone], [subject], [message]) VALUES (3, N'admin', N'admin@gmail.com', N'0376880903', N'đây là subjecfasfas', N'<p>fsadfas</p>
')
SET IDENTITY_INSERT [dbo].[feedback] OFF
SET IDENTITY_INSERT [dbo].[groupproduct] ON 

INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'Nón cho nam', N'non-cho-nam', 1, 0)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Nón 3 phần 4', N'non-3-phan-4', 1, 0)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Nón bảo hiểm lật cầm', N'non-bao-hiem-lat-cam', 1, 0)
SET IDENTITY_INSERT [dbo].[groupproduct] OFF
SET IDENTITY_INSERT [dbo].[history_recharge] ON 

INSERT [dbo].[history_recharge] ([id], [idaccount], [amount_money], [create_date]) VALUES (1, 6, 10000, CAST(N'2022-07-02 16:22:14.523' AS DateTime))
INSERT [dbo].[history_recharge] ([id], [idaccount], [amount_money], [create_date]) VALUES (2, 6, 16000, CAST(N'2022-07-02 16:25:33.353' AS DateTime))
INSERT [dbo].[history_recharge] ([id], [idaccount], [amount_money], [create_date]) VALUES (3, 6, 55000, CAST(N'2022-07-02 16:27:41.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[history_recharge] OFF
SET IDENTITY_INSERT [dbo].[history_withdraw] ON 

INSERT [dbo].[history_withdraw] ([id], [idaccount], [amount_money], [create_date], [status], [confirm_date], [bank_number], [bank_name], [fullname], [note]) VALUES (21, 50, 500000, CAST(N'2022-07-02 22:32:46.093' AS DateTime), -1, CAST(N'2022-07-02 22:48:24.770' AS DateTime), N'fasjlk', N'jlkfsdsa', N'fasd', N'Sai tài khoản nha. Bạn đặt lại lệnh giúp mình.')
SET IDENTITY_INSERT [dbo].[history_withdraw] OFF
SET IDENTITY_INSERT [dbo].[introduce] ON 

SET IDENTITY_INSERT [dbo].[introduce] OFF
SET IDENTITY_INSERT [dbo].[news] ON 

SET IDENTITY_INSERT [dbo].[news] OFF
SET IDENTITY_INSERT [dbo].[newstype] ON 

INSERT [dbo].[newstype] ([id], [name], [alias]) VALUES (6, N'Tin thị trường', N'tin-thi-truong')
INSERT [dbo].[newstype] ([id], [name], [alias]) VALUES (7, N'Tin covid', N'tin-covid')
SET IDENTITY_INSERT [dbo].[newstype] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note], [paymentmethod], [idpromotion]) VALUES (95, 6, CAST(N'2022-06-14 17:26:51.007' AS DateTime), N'dongduy0612@gmail.com', N'admin', N'Thành phố Hà Nội', N'0376880903', 1, 1, CAST(1903000 AS Decimal(18, 0)), NULL, 1, NULL)
INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note], [paymentmethod], [idpromotion]) VALUES (101, 6, CAST(N'2022-06-26 14:23:50.900' AS DateTime), N'admin@gmail.com', N'admin', N'Tỉnh Bắc Kạn', N'0376880903', 0, 0, CAST(2968770 AS Decimal(18, 0)), NULL, 0, 7)
INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note], [paymentmethod], [idpromotion]) VALUES (102, 6, CAST(N'2022-06-26 14:25:22.690' AS DateTime), N'admin@gmail.com', N'admin', N'Tỉnh Cao Bằng', N'0376880903', 0, 1, CAST(424110 AS Decimal(18, 0)), NULL, 1, 7)
SET IDENTITY_INSERT [dbo].[order] OFF
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (963, 95, CAST(633000 AS Decimal(18, 0)), 1, CAST(633000 AS Decimal(18, 0)))
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (963, 101, CAST(633000 AS Decimal(18, 0)), 7, CAST(4431000 AS Decimal(18, 0)))
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (963, 102, CAST(633000 AS Decimal(18, 0)), 1, CAST(633000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[production] ON 

INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'AC', N'ac', 1, 0)
INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Agu', N'agu', 1, 0)
INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Andes', N'andes', 1, 0)
SET IDENTITY_INSERT [dbo].[production] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[promotion] ON 

INSERT [dbo].[promotion] ([id], [name], [create_date], [start_date], [end_date], [create_by], [discount], [quantity_use], [alias], [code]) VALUES (6, N'Giảm giá 1 nè ha hah', CAST(N'2022-06-25 20:12:22.000' AS DateTime), CAST(N'2022-06-24 20:11:00.000' AS DateTime), CAST(N'2022-07-07 20:12:00.000' AS DateTime), 6, 20, -1, N'giam-gia-1-ne-ha-hah', N'ChpNFjMvbH')
INSERT [dbo].[promotion] ([id], [name], [create_date], [start_date], [end_date], [create_by], [discount], [quantity_use], [alias], [code]) VALUES (7, N'duy dương', CAST(N'2022-06-26 11:32:47.000' AS DateTime), CAST(N'2022-06-26 11:32:00.000' AS DateTime), CAST(N'2022-06-27 10:26:00.000' AS DateTime), 6, 33, -1, N'duy-duong', N'f5Zvnlao57')
INSERT [dbo].[promotion] ([id], [name], [create_date], [start_date], [end_date], [create_by], [discount], [quantity_use], [alias], [code]) VALUES (8, N'Giảm giá vòng quay 637920215524310655', CAST(N'2022-06-28 13:59:12.443' AS DateTime), CAST(N'2022-06-28 13:59:12.443' AS DateTime), CAST(N'2022-07-28 13:59:12.443' AS DateTime), 51, 9, 1, N'Giam-gia-vong-quay-637920215524310655', N'KAa9yCFMiy')
SET IDENTITY_INSERT [dbo].[promotion] OFF
SET IDENTITY_INSERT [dbo].[rate] ON 

INSERT [dbo].[rate] ([id], [id_account], [id_product], [star], [comment], [createdate]) VALUES (6, 6, 964, 5, N'fasdfas', CAST(N'2022-02-16' AS Date))
SET IDENTITY_INSERT [dbo].[rate] OFF
SET IDENTITY_INSERT [dbo].[receipt] ON 

INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (25, 6, CAST(N'2022-04-03' AS Date), CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (26, 6, CAST(N'2022-04-16' AS Date), CAST(870609 AS Decimal(18, 0)))
INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (27, 6, CAST(N'2022-06-25' AS Date), CAST(18000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[receipt] OFF
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (963, 25, CAST(1000 AS Decimal(18, 0)), 1, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (963, 26, CAST(10007 AS Decimal(18, 0)), 18, CAST(180126 AS Decimal(18, 0)))
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (963, 27, CAST(1000 AS Decimal(18, 0)), 18, CAST(18000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name], [alias]) VALUES (1, N'user', N'user')
INSERT [dbo].[role] ([id], [name], [alias]) VALUES (2, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[subscribe] ON 

INSERT [dbo].[subscribe] ([id], [email]) VALUES (3, N'admin@gmail.com')
INSERT [dbo].[subscribe] ([id], [email]) VALUES (4, N'admi3n@gmail.com')
INSERT [dbo].[subscribe] ([id], [email]) VALUES (5, N'dongduy956@gmail.com')
SET IDENTITY_INSERT [dbo].[subscribe] OFF
SET IDENTITY_INSERT [dbo].[wheel] ON 

INSERT [dbo].[wheel] ([id], [idaccount], [idpromotion], [create_date], [gift_name]) VALUES (107, 50, 82, CAST(N'2022-07-02 20:10:13.953' AS DateTime), N'Phiếu giảm giá 1 ngày')
INSERT [dbo].[wheel] ([id], [idaccount], [idpromotion], [create_date], [gift_name]) VALUES (108, 50, 83, CAST(N'2022-07-02 20:14:04.997' AS DateTime), N'Phiếu giảm giá 7 ngày')
INSERT [dbo].[wheel] ([id], [idaccount], [idpromotion], [create_date], [gift_name]) VALUES (109, 50, NULL, CAST(N'2022-07-02 20:17:24.540' AS DateTime), N'Mất lượt')
SET IDENTITY_INSERT [dbo].[wheel] OFF
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_accounts_role] FOREIGN KEY([idrole])
REFERENCES [dbo].[role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [fk_accounts_role]
GO
ALTER TABLE [dbo].[history_recharge]  WITH CHECK ADD  CONSTRAINT [fk_history_recharge_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[history_recharge] CHECK CONSTRAINT [fk_history_recharge_account]
GO
ALTER TABLE [dbo].[history_withdraw]  WITH CHECK ADD  CONSTRAINT [fk_history_withdraw_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[history_withdraw] CHECK CONSTRAINT [fk_history_withdraw_account]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_newstype] FOREIGN KEY([id_newstype])
REFERENCES [dbo].[newstype] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_newstype]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [fk_order_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [fk_order_account]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [fk_order_promotion] FOREIGN KEY([idpromotion])
REFERENCES [dbo].[promotion] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [fk_order_promotion]
GO
ALTER TABLE [dbo].[orderdetail]  WITH CHECK ADD  CONSTRAINT [fk_orderdetail_order] FOREIGN KEY([idorder])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderdetail] CHECK CONSTRAINT [fk_orderdetail_order]
GO
ALTER TABLE [dbo].[orderdetail]  WITH CHECK ADD  CONSTRAINT [fk_orderdetail_products] FOREIGN KEY([idproduct])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orderdetail] CHECK CONSTRAINT [fk_orderdetail_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([idcategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_groupproduct] FOREIGN KEY([idgroupproduct])
REFERENCES [dbo].[groupproduct] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_groupproduct]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_production] FOREIGN KEY([idproduction])
REFERENCES [dbo].[production] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_production]
GO
ALTER TABLE [dbo].[promotion]  WITH CHECK ADD  CONSTRAINT [fk_promotion_account] FOREIGN KEY([create_by])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[promotion] CHECK CONSTRAINT [fk_promotion_account]
GO
ALTER TABLE [dbo].[rate]  WITH CHECK ADD  CONSTRAINT [fk_rate_accounts] FOREIGN KEY([id_account])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rate] CHECK CONSTRAINT [fk_rate_accounts]
GO
ALTER TABLE [dbo].[rate]  WITH CHECK ADD  CONSTRAINT [fk_rate_products] FOREIGN KEY([id_product])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[rate] CHECK CONSTRAINT [fk_rate_products]
GO
ALTER TABLE [dbo].[receipt]  WITH CHECK ADD  CONSTRAINT [fk_receipt_accounts] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipt] CHECK CONSTRAINT [fk_receipt_accounts]
GO
ALTER TABLE [dbo].[receiptdetail]  WITH CHECK ADD  CONSTRAINT [fk_receiptdetail_products] FOREIGN KEY([idproduct])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receiptdetail] CHECK CONSTRAINT [fk_receiptdetail_products]
GO
ALTER TABLE [dbo].[receiptdetail]  WITH CHECK ADD  CONSTRAINT [fk_receiptdetail_receipt] FOREIGN KEY([idreceipt])
REFERENCES [dbo].[receipt] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receiptdetail] CHECK CONSTRAINT [fk_receiptdetail_receipt]
GO
ALTER TABLE [dbo].[wheel]  WITH CHECK ADD  CONSTRAINT [fk_wheel_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[wheel] CHECK CONSTRAINT [fk_wheel_account]
GO
ALTER TABLE [dbo].[wheel]  WITH CHECK ADD  CONSTRAINT [fk_wheel_promotion] FOREIGN KEY([idpromotion])
REFERENCES [dbo].[promotion] ([id])
GO
ALTER TABLE [dbo].[wheel] CHECK CONSTRAINT [fk_wheel_promotion]
GO
/****** Object:  Trigger [dbo].[update_products_category]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[update_products_category] on [dbo].[category]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idcategory=@id
	
end


GO
/****** Object:  Trigger [dbo].[update_products_groupproduct]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[update_products_groupproduct] on [dbo].[groupproduct]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idgroupproduct=@id
	
end


GO
/****** Object:  Trigger [dbo].[trg_coin_account]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_coin_account] on [dbo].[history_recharge]
for insert
as
begin
	declare @idaccount int,@amount_money int
	select @idaccount=idaccount,@amount_money=amount_money from inserted
	update accounts
	set coin+=(@amount_money/1000)
	where id=@idaccount
end
GO
/****** Object:  Trigger [dbo].[trg_coin_withdraw_delete]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_coin_withdraw_delete] on [dbo].[history_withdraw]
for delete
as
begin
	declare @idaccount int,@amount_money int
	select @amount_money=amount_money,@idaccount=idaccount from deleted
	update accounts
	set coin+=(@amount_money/1000)
	where id=@idaccount
end

GO
/****** Object:  Trigger [dbo].[trg_coin_withdraw_insert]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_coin_withdraw_insert] on [dbo].[history_withdraw]
for insert
as
begin
	declare @idaccount int,@amount_money int
	select @amount_money=amount_money,@idaccount=idaccount from inserted
	update accounts
	set coin-=(@amount_money/1000)
	where id=@idaccount
end

GO
/****** Object:  Trigger [dbo].[trg_coin_withdraw_update]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_coin_withdraw_update] on [dbo].[history_withdraw]
for update
as
begin
	declare @idaccount int,@amount_money int,@status int
	select @amount_money=amount_money,@status=[status],@idaccount=idaccount from inserted
	if(@status=-1)
	begin
		update accounts
		set coin+=(@amount_money/1000)
		where id=@idaccount
	end
end

GO
/****** Object:  Trigger [dbo].[compute_money_order]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[compute_money_order] on [dbo].[orderdetail]
for insert
as
begin
	declare @idorder int,@idproduct int,@subtotal decimal(18,0),@discount int,@total decimal(18,0)
	--set giảm giá = 0
	set @discount=0
	-- lấy id đơn hàng, sản phẩm và lấy thành tiền của dòng đó
	select @idorder = idorder,@idproduct=idproduct,@subtotal=price*quantity from inserted
	--update thành tiền của dòng vừa insert
	update orderdetail 
	set subtotal=@subtotal
	where idorder=@idorder and idproduct=@idproduct
	--lấy giảm giá của đơn hàng nếu có mã
	select @discount=discount from promotion,[order]
	where [order].idpromotion=promotion.id and [order].id=@idorder
	--tính tổng tiền của đơn hàng
	select @total=sum(price*quantity) from orderdetail where idorder=@idorder
	--update tổng tiền có giảm giá hoặc không
	update [order]
	set total= (@total - @total*(@discount/100.0))
	where id=@idorder
end









GO
/****** Object:  Trigger [dbo].[update_fastsell_products]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_fastsell_products] on [dbo].[orderdetail]
for insert
as
begin
	declare @idproduct int,@sum int
	select @idproduct=idproduct from inserted
	select @sum=sum(quantity) from orderdetail
	where idproduct=@idproduct
	if(@sum>19)
	begin
	update products
	set fastsell=1
	where id=@idproduct
	end
end


GO
/****** Object:  Trigger [dbo].[update_quantity_products_orderdetail]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_quantity_products_orderdetail] on [dbo].[orderdetail]
for insert 
as
begin
	declare @idproduct int,@quantity int
	select @idproduct=idproduct,@quantity=quantity from inserted
	update products
	set quantity-=@quantity
	where id=@idproduct
end


GO
/****** Object:  Trigger [dbo].[update_products_production]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_products_production] on [dbo].[production]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idproduction=@id
	
end






GO
/****** Object:  Trigger [dbo].[update_quantity_products]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[update_quantity_products] on [dbo].[products]
for insert,update
as
begin
declare @idproduct int,@quantity int
	select @idproduct=id,@quantity=quantity from inserted
	if(@quantity=0)
	begin
	update products
	set [status]=0
	where id=@idproduct
	end
	else
	begin
	update products
	set [status]=1
	where id=@idproduct
	end
end

GO
/****** Object:  Trigger [dbo].[compute_money_receipt]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[compute_money_receipt] on [dbo].[receiptdetail]
for insert
as
begin
	declare @idreceipt int,@idproduct int,@subtotal decimal(18,0)
	select @idreceipt = idreceipt,@idproduct=idproduct,@subtotal=price*quantity from inserted
	update receiptdetail 
	set subtotal=@subtotal
	where idreceipt=@idreceipt and idproduct=@idproduct

	update receipt
	set total=(select sum(price*quantity) from receiptdetail where idreceipt=@idreceipt)
	where id=@idreceipt
end

GO
/****** Object:  Trigger [dbo].[update_quantity_products_receiptdetail]    Script Date: 17/08/2022 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_quantity_products_receiptdetail] on [dbo].[receiptdetail]
for insert 
as
begin
	declare @idproduct int,@quantity int
	select @idproduct=idproduct,@quantity=quantity from inserted
	update products
	set quantity+=@quantity
	where id=@idproduct
end

GO
