USE [nonbaohiemviettin]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 03/02/2022 5:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrole] [int] NULL DEFAULT ((1)),
	[username] [varchar](50) NULL,
	[password] [varchar](100) NOT NULL,
	[image] [nvarchar](500) NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](11) NULL,
	[address] [nvarchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[issocial] [int] NULL CONSTRAINT [DF_accounts_issocial]  DEFAULT ((0)),
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[brand]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[image] [varchar](500) NULL,
	[link] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contact]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [nvarchar](500) NULL,
	[address] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](11) NULL,
	[worktime] [varchar](100) NULL,
	[map] [varchar](500) NULL,
	[display] [bit] NULL DEFAULT ((1)),
	[workday] [nvarchar](100) NULL,
	[alias] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countonline]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countonline](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[feedback]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](11) NULL,
	[subject] [nvarchar](100) NULL,
	[message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[groupproduct]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[groupproduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[introduce]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[introduce](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [ntext] NULL,
	[image] [varchar](100) NULL,
	[status] [bit] NULL,
	[alias] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_newstype] [int] NULL,
	[title] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[content] [ntext] NULL,
	[createdate] [date] NULL DEFAULT (getdate()),
	[image] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[newstype]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[newstype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[alias] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[createdate] [date] NULL,
	[email] [varchar](50) NULL,
	[fullname] [nvarchar](100) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](11) NULL,
	[status] [bit] NULL,
	[statuspay] [bit] NULL,
	[total] [decimal](18, 0) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderdetail]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetail](
	[idproduct] [int] NOT NULL,
	[idorder] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[subtotal] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC,
	[idorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[production]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[price] [decimal](18, 0) NULL,
	[promationprice] [decimal](18, 0) NULL DEFAULT ((0)),
	[quantity] [int] NULL DEFAULT ((50)),
	[description] [ntext] NULL,
	[viewcount] [int] NULL DEFAULT ((0)),
	[createddate] [datetime] NULL DEFAULT (getdate()),
	[image] [ntext] NULL,
	[fastsell] [bit] NULL DEFAULT ((1)),
	[newproduct] [bit] NULL DEFAULT ((1)),
	[idcategory] [int] NULL,
	[idproduction] [int] NULL,
	[idgroupproduct] [int] NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rate]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_account] [int] NULL,
	[id_product] [int] NULL,
	[star] [int] NULL,
	[comment] [nvarchar](500) NULL,
	[createdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receipt]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[createdate] [date] NULL DEFAULT (getdate()),
	[total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receiptdetail]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receiptdetail](
	[idproduct] [int] NOT NULL,
	[idreceipt] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_receiptdetail] PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC,
	[idreceipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subscribe]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subscribe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [idrole], [username], [password], [image], [fullname], [email], [phone], [address], [status], [issocial], [alias]) VALUES (6, 2, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'assets/images/users/Profile.png', N'admin', N'admin@gmail.com', N'0376880903', N'Tiền Giang', 1, 0, N'tai-khoan-6')
INSERT [dbo].[accounts] ([id], [idrole], [username], [password], [image], [fullname], [email], [phone], [address], [status], [issocial], [alias]) VALUES (19, 1, N'dongduy0612@gmail.com', N'', N'https://lh3.googleusercontent.com/a-/AOh14GiUQWvTZexHUiFQhYQzr4d8zaGNki-mKlQm-UA3lg=s96-c', N'Dương Đông Duy', N'dongduy0612@gmail.com', N'0376880903', N'Tiền Giang', 1, 1, N'tai-khoan-7')
SET IDENTITY_INSERT [dbo].[accounts] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'Nón cho nam', N'non-cho-nam', 1, 0)
INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Nón cho nữ', N'non-cho-nu', 1, 0)
INSERT [dbo].[category] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Nón người lớn và trẻ nhỏ', N'non-nguoi-lon-va-tre-nho', 1, 0)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[contact] ON 

SET IDENTITY_INSERT [dbo].[contact] OFF
SET IDENTITY_INSERT [dbo].[countonline] ON 

INSERT [dbo].[countonline] ([id], [total]) VALUES (1, 41)
SET IDENTITY_INSERT [dbo].[countonline] OFF
SET IDENTITY_INSERT [dbo].[groupproduct] ON 

INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'Nón cho nam', N'non-cho-nam', 1, 0)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Nón 3 phần 4', N'non-3-phan-4', 1, 0)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Nón bảo hiểm lật cầm', N'non-bao-hiem-lat-cam', 1, 0)
SET IDENTITY_INSERT [dbo].[groupproduct] OFF
SET IDENTITY_INSERT [dbo].[introduce] ON 

SET IDENTITY_INSERT [dbo].[introduce] OFF
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([id], [id_newstype], [title], [alias], [content], [createdate], [image]) VALUES (5, 6, N'aloa', N'aloa', N'<p>n<strong>ội d&ugrave;ng</strong></p>
', CAST(N'2022-01-25' AS Date), N'assets/images/news/tang-ngay-khau-trang-vai-khang-khuan-khi-mua-mu-bao-hiem-andes-bo-doi-hoan-hao-bao-ve-toi-uu-00.jpg')
SET IDENTITY_INSERT [dbo].[news] OFF
SET IDENTITY_INSERT [dbo].[newstype] ON 

INSERT [dbo].[newstype] ([id], [name], [alias]) VALUES (6, N'Tin thị trường', N'Tin-thi-truong')
INSERT [dbo].[newstype] ([id], [name], [alias]) VALUES (7, N'Tin covid', N'Tin-covid')
SET IDENTITY_INSERT [dbo].[newstype] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note]) VALUES (38, 6, CAST(N'2022-01-30' AS Date), N'admin@gmail.com', N'admin', N'166 ấp Tân Phú 2 Xã Bản Phố Huyện Bắc Hà Tỉnh Lào Cai', N'0376880903', 0, 0, CAST(1140000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note]) VALUES (39, 6, CAST(N'2022-01-30' AS Date), N'admin@gmail.com', N'admin', N'   ', N'0376880903', 0, 0, CAST(49500000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[order] ([id], [idaccount], [createdate], [email], [fullname], [address], [phone], [status], [statuspay], [total], [note]) VALUES (40, 6, CAST(N'2022-01-30' AS Date), N'admin@gmail.com', N'admin', N'   ', N'0376880903', 1, 1, CAST(10240000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (963, 38, CAST(500000 AS Decimal(18, 0)), 1, CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (963, 39, CAST(500000 AS Decimal(18, 0)), 99, CAST(49500000 AS Decimal(18, 0)))
INSERT [dbo].[orderdetail] ([idproduct], [idorder], [price], [quantity], [subtotal]) VALUES (968, 38, CAST(640000 AS Decimal(18, 0)), 1, CAST(640000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[production] ON 

INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (1, N'AC', N'ac', 1, 0)
INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (2, N'Agu', N'agu', 1, 0)
INSERT [dbo].[production] ([id], [name], [alias], [status], [isdelete]) VALUES (3, N'Andes', N'andes', 1, 0)
SET IDENTITY_INSERT [dbo].[production] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[receipt] ON 

INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (13, 6, CAST(N'2022-01-30' AS Date), CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (14, 6, CAST(N'2022-01-30' AS Date), CAST(17000 AS Decimal(18, 0)))
INSERT [dbo].[receipt] ([id], [idaccount], [createdate], [total]) VALUES (15, 6, CAST(N'2022-01-30' AS Date), CAST(10000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[receipt] OFF
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (963, 13, CAST(1000 AS Decimal(18, 0)), 100, CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (963, 15, CAST(1000 AS Decimal(18, 0)), 6, CAST(6000 AS Decimal(18, 0)))
INSERT [dbo].[receiptdetail] ([idproduct], [idreceipt], [price], [quantity], [subtotal]) VALUES (965, 16, CAST(1000 AS Decimal(18, 0)), 1, CAST(1000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name], [alias]) VALUES (1, N'user', N'user')
INSERT [dbo].[role] ([id], [name], [alias]) VALUES (2, N'admin', N'admin')
INSERT [dbo].[role] ([id], [name], [alias]) VALUES (6, N'tạp vụ', N'tap-vu')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[subscribe] ON 

INSERT [dbo].[subscribe] ([id], [email]) VALUES (2, N'dongduy0612@gmail.com')
SET IDENTITY_INSERT [dbo].[subscribe] OFF
ALTER TABLE [dbo].[rate] ADD  CONSTRAINT [df_createdate]  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_accounts_role] FOREIGN KEY([idrole])
REFERENCES [dbo].[role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [fk_accounts_role]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_newstype] FOREIGN KEY([id_newstype])
REFERENCES [dbo].[newstype] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_newstype]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [fk_order_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [fk_order_account]
GO
ALTER TABLE [dbo].[orderdetail]  WITH CHECK ADD  CONSTRAINT [fk_orderdetail_order] FOREIGN KEY([idorder])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderdetail] CHECK CONSTRAINT [fk_orderdetail_order]
GO
ALTER TABLE [dbo].[orderdetail]  WITH CHECK ADD  CONSTRAINT [fk_orderdetail_products] FOREIGN KEY([idproduct])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orderdetail] CHECK CONSTRAINT [fk_orderdetail_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([idcategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_groupproduct] FOREIGN KEY([idgroupproduct])
REFERENCES [dbo].[groupproduct] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_groupproduct]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_production] FOREIGN KEY([idproduction])
REFERENCES [dbo].[production] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_production]
GO
ALTER TABLE [dbo].[rate]  WITH CHECK ADD  CONSTRAINT [fk_rate_accounts] FOREIGN KEY([id_account])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rate] CHECK CONSTRAINT [fk_rate_accounts]
GO
ALTER TABLE [dbo].[rate]  WITH CHECK ADD  CONSTRAINT [fk_rate_products] FOREIGN KEY([id_product])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[rate] CHECK CONSTRAINT [fk_rate_products]
GO
ALTER TABLE [dbo].[receipt]  WITH CHECK ADD  CONSTRAINT [fk_receipt_accounts] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipt] CHECK CONSTRAINT [fk_receipt_accounts]
GO
ALTER TABLE [dbo].[receiptdetail]  WITH CHECK ADD  CONSTRAINT [fk_receiptdetail_products] FOREIGN KEY([idproduct])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receiptdetail] CHECK CONSTRAINT [fk_receiptdetail_products]
GO
ALTER TABLE [dbo].[receiptdetail]  WITH CHECK ADD  CONSTRAINT [fk_receiptdetail_receipt] FOREIGN KEY([idreceipt])
REFERENCES [dbo].[receipt] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receiptdetail] CHECK CONSTRAINT [fk_receiptdetail_receipt]
GO
/****** Object:  Trigger [dbo].[update_products_category]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[update_products_category] on [dbo].[category]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idcategory=@id
	
end

GO
/****** Object:  Trigger [dbo].[update_products_groupproduct]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[update_products_groupproduct] on [dbo].[groupproduct]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idgroupproduct=@id
	
end

GO
/****** Object:  Trigger [dbo].[compute_money_order]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[compute_money_order] on [dbo].[orderdetail]
for insert
as
begin
	declare @idorder int,@idproduct int,@subtotal decimal(18,0)
	select @idorder = idorder,@idproduct=idproduct,@subtotal=price*quantity from inserted
	update orderdetail 
	set subtotal=@subtotal
	where idorder=@idorder and idproduct=@idproduct

	update [order]
	set total=(select sum(price*quantity) from orderdetail where idorder=@idorder)
	where id=@idorder
end








GO
/****** Object:  Trigger [dbo].[update_fastsell_products]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_fastsell_products] on [dbo].[orderdetail]
for insert
as
begin
	declare @idproduct int,@sum int
	select @idproduct=idproduct from inserted
	select @sum=sum(quantity) from orderdetail
	where idproduct=@idproduct
	if(@sum>19)
	begin
	update products
	set fastsell=1
	where id=@idproduct
	end
end

GO
/****** Object:  Trigger [dbo].[update_quantity_products_orderdetail]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_quantity_products_orderdetail] on [dbo].[orderdetail]
for insert 
as
begin
	declare @idproduct int,@quantity int
	select @idproduct=idproduct,@quantity=quantity from inserted
	update products
	set quantity-=@quantity
	where id=@idproduct
end

GO
/****** Object:  Trigger [dbo].[update_products_production]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_products_production] on [dbo].[production]
for update
as
begin
	declare @id int,@isdelete bit
	select @id=id,@isdelete=isdelete from inserted
	
		update products
		set isdelete=@isdelete
		where idproduction=@id
	
end





GO
/****** Object:  Trigger [dbo].[update_quantity_products]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[update_quantity_products] on [dbo].[products]
for insert,update
as
begin
declare @idproduct int,@quantity int
	select @idproduct=id,@quantity=quantity from inserted
	if(@quantity=0)
	begin
	update products
	set [status]=0
	where id=@idproduct
	end
	else
	begin
	update products
	set [status]=1
	where id=@idproduct
	end
end
GO
/****** Object:  Trigger [dbo].[compute_money_receipt]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[compute_money_receipt] on [dbo].[receiptdetail]
for insert
as
begin
	declare @idreceipt int,@idproduct int,@subtotal decimal(18,0)
	select @idreceipt = idreceipt,@idproduct=idproduct,@subtotal=price*quantity from inserted
	update receiptdetail 
	set subtotal=@subtotal
	where idreceipt=@idreceipt and idproduct=@idproduct

	update receipt
	set total=(select sum(price*quantity) from receiptdetail where idreceipt=@idreceipt)
	where id=@idreceipt
end
GO
/****** Object:  Trigger [dbo].[update_quantity_products_receiptdetail]    Script Date: 03/02/2022 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[update_quantity_products_receiptdetail] on [dbo].[receiptdetail]
for insert 
as
begin
	declare @idproduct int,@quantity int
	select @idproduct=idproduct,@quantity=quantity from inserted
	update products
	set quantity+=@quantity
	where id=@idproduct
end
GO
