
create database nonbaohiemviettin
go
USE [nonbaohiemviettin]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 16/12/2021 4:05:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrole] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](100) NOT NULL,
	[image] [nvarchar](500) NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](11) NULL,
	[address] [nvarchar](100) NULL,
	[status] [bit] NULL,
	[issocial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[groupproduct]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[groupproduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NULL,
	[createdate] [date] NULL,
	[email] [varchar](50) NULL,
	[fullname] [nvarchar](100) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](11) NULL,
	[status] [bit] NULL,
	[statuspay] [bit] NULL,
	[total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderdetail]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetail](
	[idproduct] [int] NOT NULL,
	[idorder] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[subtotal] [decimal](18, 0) NULL,
	primary key(idproduct,idorder)
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[production]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[price] [decimal](18, 0) NULL,
	[promationprice] [decimal](18, 0) NULL DEFAULT ((0)),
	[quantity] [int] NULL DEFAULT ((50)),
	[description] [ntext] NULL,
	[viewcount] [int] NULL DEFAULT ((0)),
	[createddate] [datetime] NULL DEFAULT (getdate()),
	[image] [nvarchar](500) NULL,
	[fastsell] [bit] NULL DEFAULT ((1)),
	[newproduct] [bit] NULL DEFAULT ((1)),
	[idcategory] [int] NULL,
	[idproduction] [int] NULL,
	[idgroupproduct] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[role]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [alias], [status]) VALUES (1, N'Nón cho nam', N'non-cho-nam', 1)
INSERT [dbo].[category] ([id], [name], [alias], [status]) VALUES (2, N'Nón cho nữ', N'non-cho-nu', 1)
INSERT [dbo].[category] ([id], [name], [alias], [status]) VALUES (3, N'Nón người lớn và trẻ nhỏ', N'non-nguoi-lon-va-tre-nho', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[groupproduct] ON 

INSERT [dbo].[groupproduct] ([id], [name], [alias], [status]) VALUES (1, N'Đồ bảo hộ', N'do-bao-ho', 1)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status]) VALUES (2, N'Nón 3 phần 4', N'non-3-phan-4', 1)
INSERT [dbo].[groupproduct] ([id], [name], [alias], [status]) VALUES (3, N'Nón bảo hiểm lật cầm', N'non-bao-hiem-lat-cam', 1)
SET IDENTITY_INSERT [dbo].[groupproduct] OFF
SET IDENTITY_INSERT [dbo].[production] ON 

INSERT [dbo].[production] ([id], [name], [alias], [status]) VALUES (1, N'AC', N'ac', 1)
INSERT [dbo].[production] ([id], [name], [alias], [status]) VALUES (2, N'Agu', N'agu', 1)
INSERT [dbo].[production] ([id], [name], [alias], [status]) VALUES (3, N'Andes', N'andes', 1)
SET IDENTITY_INSERT [dbo].[production] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'user')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[role] OFF
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ((1)) FOR [idrole]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_issocial]  DEFAULT ((0)) FOR [issocial]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_accounts_role] FOREIGN KEY([idrole])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [fk_accounts_role]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [fk_order_account] FOREIGN KEY([idaccount])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [fk_order_account]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([idcategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_groupproduct] FOREIGN KEY([idgroupproduct])
REFERENCES [dbo].[groupproduct] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_groupproduct]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_production] FOREIGN KEY([idproduction])
REFERENCES [dbo].[production] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_production]
GO
/****** Object:  Trigger [dbo].[compute_money_order]    Script Date: 16/12/2021 4:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[compute_money_order] on [dbo].[orderdetail]
for insert
as
begin
	declare @idorder int,@idproduct int,@subtotal decimal(18,0)
	select @idorder = idorder,@idproduct=idproduct,@subtotal=price*quantity from inserted
	update orderdetail 
	set subtotal=@subtotal
	where idorder=@idorder and idproduct=@idproduct

	update [order]
	set total=(select sum(price*quantity) from orderdetail where idorder=@idorder)
	where id=@idorder
end

GO
